export(lmerUvcov)
export(ranefUvcovNew)
export(ranefUvcov)
export(theta_optim)
exportClasses(lmerUvcov)
exportMethods(ranef)

import(lme4)
import(Matrix)
importFrom("methods","as","new")
importFrom("stats","dist")
