export(lmerUvcov)
export(glmerUvcov)
export(ranefUvcovNew)
export(ranefUvcov)
export(ranef_glmer_Uvcov)
export(theta_optim)
exportClasses(lmerUvcov)
exportClasses(glmerUvcov)
exportMethods(ranef)

import(lme4)
import(Matrix)
import(BGLR)
importFrom("methods","as","new")
importFrom("stats","dist")
