export(lmerUvcov)
export(ranefUvcovNew)
export(ranefUvcov)
export(theta_optim)
exportClasses(lmerUvcov)
exportMethods(ranef)export(glmerUvcov)
exportClasses(glmerUvcov)
exportClasses(merUvcov)

import(lme4)
import(Matrix)
importFrom("methods","as","new")
importFrom("stats","dist","gaussian","model.response")
